@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sumbit {
  display: flex;
  flex-direction: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 12px 2px black;
  border-radius: 4px;
  position: relative;
  z-index: 99;
  width: 50%;
  height: 50%;
  margin-top: 30px;
  padding: 17px 10px;
}

.login {
  width: 20em;
  height: 30em;
  display: flex;
  flex-direction: center;
  align-items: center;
  padding-top: 3em;
  padding-left: 2em;
  margin: auto;
  position: relative;
  z-index: 99%;

  .container {
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 12px 2px black;
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    padding: 17px 10px;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #17A2B8;
    box-shadow: 0 0 12px 2px black;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80%;
    right: -40%;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 12px 2px black;
    &:hover {
      right: -45%;
    }

    &.right {
      right: -40%;
      justify-content: center;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      justify-content: center;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #ffffff;
      margin-right: 2em;
      margin-left: 3em;
    }
  }

  .btn {
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #17A2B8;
    color: #ffffff;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #1b7dbf;
    }
    &:focus {
      outline: none;
    }
  }

  .social-container {
    margin-right:10px ;
  }
  
  .social-container a {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
  
  .form-container input{
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  .particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  #appSummary {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #footer {
    background-color: deepskyblue;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .logo {
    width: 35px;
    height: 30px;
    margin-right: 10px;
  }

  .title {
    margin-top: 20px;
  }


}
